.aboutPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 80px;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 100px;
  column-gap: 50px;
}

.column h1 {
  padding-bottom: 30px;
  justify-content: flex-start;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.webImage {
  max-width: 700px;
  min-width: 500px;
}

.column p {
  font-size: 1.25rem;
  text-wrap: balance;
  max-width: 700px;
  min-width: 400px;
}

@media (max-width: 600px) {
  .column p {
    max-width: 500px;
  }
}
/* .aboutContainer1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 40px 100px 40px 100px;
  flex-wrap: wrap;
} */
/* .aboutText {
  width: 600px;
  text-align: justify;
  text-wrap: wrap;
  font-size: 1.3rem;
  hyphens: manual;
  letter-spacing: 0.5px;
  line-height: 32px;
}

.aboutText h1 {
  width: 600px;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
  color: rgb(236, 236, 236);
  font-size: 2rem;
}

.aboutImage {
  flex: 0.5;
  width: 60%;
  padding-left: 200px;
  flex-wrap: wrap;
} */

.aboutContainer2 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.aboutContainer2 h1 {
  color: rgb(249, 249, 249);
  font-size: 2.5rem;
}

.aboutIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .aboutIconsDev {
  padding-bottom: 50px;
  align-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
} */

.aboutIconsDev {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.aboutIcons3D {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.greenColor {
  color: rgb(11, 131, 85);
  font-weight: bold;
  animation: color-change 20s infinite;
}

@keyframes color-change {
  0% {
    color: #0da059;
  }
  25% {
    color: #449ed3;
  }
  50% {
    color: #9d82e1;
  }
  75% {
    color: #449ed3;
  }
  100% {
    color: #0da059;
  }
}
