.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  column-gap: 5%;
  flex-wrap: wrap-reverse;
  padding-left: 15%;
  padding-right: 15%;
}

.leftContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8%;
}

.titleImageContainer {
  flex: 1;
  align-content: center;
}

.titleImage {
  max-width: 800px;
}

.rightContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8%;
  padding-bottom: 5%;
}

.introTitle {
  flex: 1;
  align-content: center;
}

.introText {
  flex: 1;
  align-content: center;
  max-width: 70%;
}

.avatarContainer {
  flex: 1;
  align-content: center;
}

.avatar {
  height: 250px;
}

.myName {
  color: rgb(11, 131, 85);
  font-size: 2.1rem;
  font-weight: bold;
  padding-inline: 10px;
  animation: color-change 20s infinite;
}

.introTitle {
  text-align: center;
  max-width: 600px;
  min-width: 300px;
  text-wrap: balance;
}

.row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5%;
  column-gap: 10%;
}

.columnLeft {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.columnRight {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.columnLeft p {
  max-width: 80%;
  min-width: 50%;
  padding-left: 10%;
}

.greenColor {
  color: rgb(11, 131, 85);
  font-weight: bold;
  animation: color-change 20s infinite;
}

@keyframes color-change {
  0% {
    color: #0da059;
  }
  25% {
    color: #449ed3;
  }
  50% {
    color: #9d82e1;
  }
  75% {
    color: #449ed3;
  }
  100% {
    color: #0da059;
  }
}

@media (max-width: 1150px) {
  .container {
    overflow: hidden;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  .introText {
    padding-top: 15%;
    max-width: 70%;
    min-width: fit-content;
    text-align: center;
  }

  .titleImage {
    max-width: 350px;
    padding-bottom: 8%;
  }

  .avatar {
    height: 180px;
  }
}
