.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 100px;
  row-gap: 80px;
  align-items: center;
  /* padding-left: 10%; */
}

.myName {
  color: rgb(11, 131, 85);
  font-size: 2.1rem;
  font-weight: bold;
  padding-inline: 10px;
  animation: color-change 20s infinite;
}

@keyframes color-change {
  0% {
    color: #0da059;
  }
  25% {
    color: #449ed3;
  }
  50% {
    color: #9d82e1;
  }
  75% {
    color: #449ed3;
  }
  100% {
    color: #0da059;
  }
}

.webImage {
  /*padding-left: 15vw; */
  /* padding-left: 300px; */
  max-width: 100%;
  min-width: 500px;
}

.introTitle {
  text-align: center;
  max-width: 600px;
  min-width: fit-content;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  flex-wrap: wrap;
  margin: 0 15%;
  /* padding-left: 10%; */
  align-items: center;
  row-gap: 50px;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
}

.column p {
  font-size: 1.25rem;
  text-wrap: wrap;
  text-align: justify;
  max-width: 600px;
  min-width: 300px;
}

.greenColor {
  color: rgb(11, 131, 85);
  font-weight: bold;
  animation: color-change 20s infinite;
}
