.projectsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 100px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.projectsDev,
.projects3D {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.projectsTitles {
  padding-bottom: 20px;
  color: rgb(248, 249, 248);
  text-transform: uppercase;
}
