.projectsPage {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  row-gap: 80px;
  width: 100%;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.projectsDev,
.projects3D {
  display: flex;
  flex: 1;
  flex-direction: row;
  column-gap: 50px;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.projectsTitles {
  color: rgb(248, 249, 248);
  text-transform: uppercase;
}

@media (max-width: 1150px) {
  .projectsTitles {
    font-size: 1.5rem;
    text-wrap: balance;
  }

  .projectsPage {
    justify-content: center;
    max-width: 100%;
    padding: 0 10px;
    flex-wrap: wrap;
  }

  .projectsDev,
  .projects3D {
    column-gap: 25px;
    row-gap: 15px;
  }
}
