.projectsPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  row-gap: 80px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.projectsDev,
.projects3D {
  display: flex;
  flex: 1;
  flex-direction: row;
  column-gap: 50px;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 30px;
}

.projectsTitles {
  padding-bottom: 20px;
  color: rgb(248, 249, 248);
  text-transform: uppercase;
}
