.cardDev {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 8px;
  background-color: rgb(28, 56, 51);
  width: 300px;
  height: 480px;
  justify-content: center;
}

.card3D {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 8px;
  background-color: rgb(28, 56, 51);
  width: 500px;
  height: 400px;
  justify-content: center;
}

.title3D,
.titleDev {
  padding-bottom: 10px;
}

.container3D,
.containerDev {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.container3D img,
.containerDev img {
  border-radius: 10px;
}

.buttonDev {
  display: flex;
  text-decoration: none;
  background-color: rgb(49, 97, 89);
  color: white;
  font-weight: bold;
  width: 90px;
  height: 28px;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button3D {
  display: flex;
  text-decoration: none;
  background-color: rgb(49, 97, 89);
  color: white;
  font-weight: bold;
  width: 120px;
  height: 28px;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
