.cardDev {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 8px;
  background-color: rgb(28, 56, 51);
  width: 300px;
  height: 480px;
  justify-content: center;
}

.card3D {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 8px;
  background-color: rgb(28, 56, 51);
  width: 500px;
  height: 450px;
  justify-content: center;
}

.title3D,
.titleDev {
  height: auto;
}

.container3D,
.containerDev {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.container3D img,
.containerDev img {
  border-radius: 10px;
}

.buttonDev {
  display: flex;
  text-decoration: none;
  background-color: rgb(49, 97, 89);
  color: white;
  font-weight: bold;
  width: 90px;
  height: 28px;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button3D {
  display: flex;
  text-decoration: none;
  background-color: rgb(49, 97, 89);
  color: white;
  font-weight: bold;
  width: 120px;
  height: 28px;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.cardAbout {
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 97, 89);
  width: 100px;
  height: 100px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.iconsDev {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 5rem;
  column-gap: 40px;
  row-gap: 40px;
}

.icons3D {
  padding-top: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  visibility: hidden;
  font-size: 1.2rem;
  width: fit-content;
  background-color: rgb(16, 62, 56);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
