.navMenu {
  display: flex;
  flex-direction: row;
}

.groupMenuItems {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  margin: 5px;
  font-size: 1.5rem;
  column-gap: 5rem;
}

.navlink {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  color: var(--title-color);
  position: relative;
}

.navlink::after {
  content: "";
  height: 4px;
  width: 125%;
  background: #ca8ceb8f;
  position: absolute;
  left: -25px;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.navlink:hover::after {
  opacity: 1;
}

.navClose {
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  padding-right: 2rem;
}

.navToggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: flex-start;
  font-size: 2rem;
  padding: 0 1rem;
  max-width: 500px;
}

.showMenu {
  margin-top: -1rem;
  display: flex;
  position: absolute;
  background-color: hsla(0, 0%, 14%, 0.382);
  border-radius: 5%;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 2rem 0 2rem 1rem;
  max-width: 500px;
  right: -10px;
}

@media (max-width: 600px) {
  .showMenu {
    width: 250px;
    padding: 1rem, 0;
  }

  .groupMenuItems {
    font-size: 1rem;
  }

  .navToggle,
  .navClose {
    font-size: 1.6rem;
    padding: 0 1rem;
  }
}
