.groupMediaIcons {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  font-size: 1.5rem;
  height: fit-content;
}

.webMediaIcons {
  align-items: center;
  text-align: center;
  padding-left: 30px;
}

.icons a {
  text-decoration: none;
  color: white;
}
